<%= for relay <- @relays do %>
  <div class="relay">
    <div class="name">
      Relay #<%= relay %>
    </div>
    <div class="status <%= relay_status(relay) %>">
      <%= relay_status(relay) %>
    </div>
  </div>
<% end %>
